.DeviceStats {
    fill: transparent;
    stroke: blue;
    stroke-width: 2px;
}

.DeviceStats .temperature {
    stroke: red;
}

.DeviceStats .moisture {
    stroke: blue;
}

.DeviceStats .humidity {
    stroke: gray;
}

.DeviceStats .event {
    fill: blue;
}